&i2c0 {
	/*
	 * This i2c node can be TWI, TWIM, or TWIS,
	 * for the user to pick:
	 * compatible = "nordic,nrf-twi" or
	 *              "nordic,nrf-twim" or
	 *              "nordic,nrf-twis".
	 */
	compatible = "nordic,nrf-twim";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	interrupts = <3 NRF_DEFAULT_IRQ_PRIORITY>;
	status = "okay";
	label = "I2C_0";
	sda-pin = <26>;
	scl-pin = <27>;
};
